@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

:root{
    /* colors */
    --screen-color: #e4fde1;
    --dark-purple: #9a9cea;
    --light-purple: #a2b9ee;
    --darker-blue: #a2dcee;
    --greenish-blue: #adeee2;
    --darkest-blue: #3b7097;
    --mid-blue: #4a8db7;
    --midlight-blue: #75bde0;
    --lightest-blue: #a2e2f8;

    /* fonts */
    --open-sans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: var(--lightest-blue);
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-blue);
    padding: 30px 20px;
    box-shadow: 2px 2px;
    border-radius: 10px;
}

#screen{
    width: 300px;
    margin-bottom: 17px;
    background-color: var(--screen-color);
    text-align: right;
    font-family: var(--roboto);
    border-style: solid;
    border-width: thin;
    word-wrap: break-word;
    word-break: break-all;
}

#prev-scr{
    height: 40px;
    margin-bottom: 5px;
    padding: 2px 5px;
    align-items: end;
    display: flex;
    justify-content: end;
}

#current-scr{
    height: 80px;
    font-size: 40px;
    padding: 2px 5px;
    align-items: end;
    display: flex;
    justify-content: end;
}

#btn-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 300px;
    height: 300px;
    grid-gap: 7px;
    justify-content: center;
}

button{
    font-size: 20px;
    box-shadow: 1px 1px;
    border-radius: 3px;
    font-family: var(--open-sans);
    background-color: var(--lightest-blue);
}

button:hover{
    box-shadow: 0px 0px;
    background-color: var(--dark-purple);
    color: white;
}

#backspace-btn{
    background-color: #FAD36E;
}

#clear-btn{
    background-color: #EDB4A2;
}

.op-btn{
    background-color: #273248;
    color: white;
}

.equals-btn{
    background-color: #6b8;
}

.activeOp{
    background-color: var(--dark-purple);
}

